{% extends 'main/base.html' %}

{% block title %} Add Appointment  {% endblock %}


{% block content %}

<div class="container md-5 ">
    <div class="justify-content-center align-items-center ">
        <div class="text-center">
            <h1>Your Appointment has been sent to the provider for confirmation  for the following Time Slot </h1>
            <h3>{{ start|date:"l, d F Y" }} — from {{ start|time:"h:i A" }} to {{ end|time:"h:i A" }}</h3>
            <form class="form-group" method="POST" action="#">
                {% csrf_token %}
                <p>do you have any special requests ? </p>
                <input type="text" name="special_requests" placeholder=" ">
                <button class="btn btn-primary" type="submit" name="confirm" value="confirm">Confirm </button>
                <button class="btn btn-danger" type="submit" name="cancel" value="cancel">Cancel</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}