{% extends 'main/base.html' %}


{% block title %} Provider Dashboard {% endblock %}



{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-align-center">
        <h1>Welcome to the Provider Dashboard {{user.username}} </h1>
        <h3> what would you like to do today </h3>
        <form action="#" method = "POST" class = "form-group">
            {% csrf_token %}
            <button class="btn btn-outline-dark" type="submit" name="view_my_appointments" value = "viewmyappointments">View my appointmnets</button>
            <button class="btn btn-outline-success" type="submit" name="view_pending_appointments" value = "viewpendingappointments">View Pending appointments</button>
            <button class="btn btn-outline-primary" type="submit" name="my_profile" value="myprofile">My profile </button>
            <button class="btn btn-outline-secondary" type="submit" name="view_analytics" value="viewanalytics">Analytics</button>
            <button class="btn btn-outline-danger" type="submit" name="my_availability" value="myavailability"> My Availability </button>
           
        </form>
    </div>
</div>



{% endblock %}