{% extends 'main/base.html' %}


{% block title %} Provider Dashboard {% endblock %}



{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-align-center">
        <h1>Welcome to the Provider Dashboard </h1>
        <h3> what would you like to do today </h3>
        <form action="#" method = "POST" class = "form-group">
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit" name="viewmyappointments">View my appointmnets</button>
            <button class="btn btn-secondary" type="submit" name="viewpendingappointments">view Pending appointments</button>
            <button class="btn btn-secondary" type="submit" name="myprofile" value="myprofile">My profile </button>
            <button class="btn btn-secondary" type="submit" name="test" value="test">Test</button>
           
        </form>
    </div>
</div>



{% endblock %}