{% extends 'main/base.html' %}


{% block title %} My Appointments  {% endblock %}



{% block content %}

<h1> Here are all your accepted appointments </h1>

{% for appointment in appointments %}

<h3>Customer : {{appointment.customer.username}} </h3>
<h3>{{ appointment.date_start|date:"l, d F Y" }} — from {{ appointment.date_start|time:"h:i A" }} to {{ appointment.date_end|time:"h:i A" }}</h3>
<h3> Status : {{appointment.status}} </h3>

<form class="form-group" method="POST" action="#">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit" name="cancel" value="{{appointment.id}}">Cancel</button>
    <button class="btn btn-success" type="submit" name="markcompleted" value="{{appointment.id}}">Mark as Complete</button>
</form>

{% endfor %}


{% endblock %}